:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --hover-color: #2196f3;
  --background-color: #e5e5e5;
  --header-background-color: #ffffff;
  --third-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --icon-background-color: #ffffff;
  --icon-color: #afb1b8;
  --icon-hover-color: #ffffff;
}
